# dev envs not needed in production
YATA_API_TOKEN=YOUR_YATA_API_TOKEN # yata api token for fetching translations

# sentry
NUXT_PUBLIC_SENTRY_ENABLED=YOUR_NUXT_PUBLIC_SENTRY_ENABLED
NUXT_PUBLIC_SENTRY_DSN=YOUR_NUXT_PUBLIC_SENTRY_DSN
NUXT_PUBLIC_SENTRY_ENVIRONMENT=YOUR_NUXT_PUBLIC_SENTRY_ENVIRONMENT
NUXT_PUBLIC_SENTRY_AUTH_TOKEN=YOUR_NUXT_PUBLIC_SENTRY_AUTH_TOKEN

# Transak
NUXT_PUBLIC_TRANSAK_API_KEY=YOUR_NUXT_PUBLIC_TRANSAK_API_KEY

# Ramp
NUXT_PUBLIC_RAMP_API_KEY=YOUR_NUXT_PUBLIC_RAMP_API_KEY

# Graph
GQL_HOST=YOUR_GQL_HOST
