$font-file-path: '/assets/fonts';

@import '@lukso/web-components/tools/sass/main.scss';

body {
  height: 100vh;

  @apply bg-neutral-98 text-neutral-20;
}

img::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url('/images/up-error.png');
}
